<form action='index.php' method='POST' class='form-inline'>
    <h1>DBMyadmin</h1>
    <blockquote>A Web Based SQL Query Processor</blockquote>
    <input type='text' id='usrname' class='form-control' name='usrname' value='' required placeholder='Username' />
    <input type='password' id='psw' class='form-control' name='psw' value='' required placeholder='Password' />
    <input type='text' id='dbname' class='form-control' name='dbname' value='' required placeholder='Database Name' />
    <input type='text' id='host' class='form-control' name='host' value='localhost' required placeholder='Host' />
    <input type='hidden' name='dbkey' value='1' />
    <br>
    <br>
    <input type='submit' id='btnnn' class='btn btn-primary' value="Login" />
</form>
